.mcs__techstack {
  display: flex;
  flex-direction: column;
  background: #000000;
}

.mcs__techstack-heading {
  width: 100%;
  text-align: center;

  margin-bottom: 3.5rem;
}

.mcs__techstack-heading h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 52px;
  line-height: 58px;
  letter-spacing: -0.04em;
  margin-bottom: 1rem;
}

.mcs__techstack-heading h4 {
  font-family: var(--font-family);
  color: #FFFFFF;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -0.04em;
}

.mcs__techstack-container_group {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin-bottom: 1.5rem;
}

@media screen and (max-width:990px) {
  .mcs__techstack-container_skills{
    align-items: center;
  }
  .mcs__techstack-container_group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

  }
  .mcs__techstack-container_group .mcs__techstack-container_skills-image {
    width: 30%;
  }
}

@media screen and (max-width:550px) {
  .mcs__techstack-heading h1 {
    font-size: 34px;
    line-height: 42px;
  }
  .mcs__techstack-heading h4 {
    font-size: 12px;
    line-height: 18px;
  }
}